# RStudio-specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.log

# Quarto-specific files and folders
/.quarto/


# Ignore LaTeX intermediate files
index.log
index.tex

# Ignore the entire _book directory except .gitkeep
_book/*
.log
!_book/.gitkeep

# What is .gitkeep?
## .gitkeep is a Git-specific option that tells the repository to please keep an empty folder in the repo.
## The problem is, after every render, Quarto removes EVERYTHING outside of _book. So I (Max), came up with the idea
## to initiate .gitkeep in the main project folder (which does not harm), then set it as a resource in the _quarto.yml file so it copies it into _book, AND THEN...
## tell .gitignore to keep .gitkeep in the _book folder. Well, it certainly works.

# Why do you remove the stuff in _book?
## _book, even though neat, can be (depending on your lecture) EXTREMELY HEAVY, and it causes the stuff to be copied 2 times in our GitHub Repositories.
## This avoids unnecessary overload pretty much. Also for ease of use in Moodle.

# I can't see .gitkeep?
## Well, it's hidden. Try in the Terminal: 'ls -a'. Now you should see it in the folder.

# How do I create .gitkeep?
## I don't recommend it, but if you accidentally know you deleted .gitkeep... try 'touch .gitkeep'

